@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%)
}
html{
    font-size: 10px;
}
body{
    font-family: "Poppins", serif;
    padding:0;
    margin: 0%;
}
header {
    width: 100%;
    box-sizing: border-box;
    padding:15% 4.5% 3% 4.5%;
    text-align: center;
}

.head {
    font-size: 2.3rem;
    font-weight: 200;
    font-style: normal;
    line-height: 0.7;
    color: var(--very-dark-blue);
}
.headi{
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 0.7;
    color: var(--very-dark-blue);
}
.para{
    font-size:1.4rem;
    margin: 0 auto 50px auto;
    width: 80%;
    color: var(--grayish-blue);
}
.card{
    position: relative;
    width:78%;
    height:210px;
    box-shadow: 2px 12px 26px 0px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
    display: block;
    margin:0 auto;
    box-sizing: border-box;
    padding: 18px 18px 18px 25px;
    margin-bottom: 20px;
}
.card0{
    border-top:4px solid hsl(180, 62%, 55%);
}
.card1{
    border-top:4px solid  hsl(0, 78%, 62%);
}
.card2{
    border-top:4px solid hsl(34, 97%, 64%);
}
.card3{
    border-top:4px solid hsl(212, 86%, 64%);
}
.card-head{
    color: var(--very-dark-blue);
    font-size:1.9rem;
    line-height: 0.7;
}
.card-sub{
    color:var(--grayish-blue);
    font-weight: 400;
    font-size:1.1rem;
    width: 80%;
}
.card-img{
    width:50px;
    position: absolute;
    right:20px;
    bottom:27px;
}
@media(width>992px){
    html{
        font-size:13px;
    }
    header{
        padding:5% 4.5% 3% 4.5%;
    }
    .para{
        width: 50%;
    }
    .card{
        position: relative;
        width:25%;
        height:260px;
    }
    .card-main{
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .card0{
        position: absolute;
        left:110px;
        top:150px;
    }
    .card3{
        position: absolute;
        right:110px;
        top:150px;
    }
    .card-sub{
        font-size: 1rem;
    }
}
@media (min-width: 550px) and (max-width: 992px){
    html{
        font-size:11px;
    }
    header{
        padding:5% 4.5% 3% 4.5%;
    }
    .card-main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .card{
        width:44%;
    }
    .para{
        width: 60%;
    }
    .card-sub{
        width: 70%;
    }
}
